<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <nlog autoReload="true" throwConfigExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target archiveOldFileOnStartup="true"
              archiveFileName="logs/Archive/app_{#}.log"
              archiveNumbering="Date"
              archiveDateFormat="yyyy-MM-dd_HH.mm.ss"
              maxArchiveFiles="4"
              name="appFileLog" xsi:type="File" fileName="logs/app.log"/>
      <target name="appConsoleLog" xsi:type="ColoredConsole"/>
      <target archiveOldFileOnStartup="true"
              archiveFileName="logs/Archive/messaging_{#}.log"
              archiveNumbering="Date"
              archiveDateFormat="yyyy-MM-dd_HH.mm.ss"
              maxArchiveFiles="4"
              name="messagingInfoLog" xsi:type="File" fileName="logs/messaging.log"/>
      <target archiveOldFileOnStartup="true"
              archiveFileName="logs/Archive/watcher_error_{#}.log"
              archiveNumbering="Date"
              archiveDateFormat="yyyy-MM-dd_HH.mm.ss"
              maxArchiveFiles="9"
              name="messageWatcherLog" xsi:type="File" fileName="logs/watcher_error.log"/>
      <target archiveOldFileOnStartup="true"
              archiveFileName="logs/Archive/processor_error_{#}.log"
              archiveNumbering="Date"
              archiveDateFormat="yyyy-MM-dd_HH.mm.ss"
              maxArchiveFiles="9"
              name="messageProcessorLog" xsi:type="File" fileName="logs/processor_error.log"/>
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="appFileLog" />
      <logger name="*" minlevel="Info" writeTo="appConsoleLog" />

      <logger name="*MessageProcessor*" minlevel="Trace" writeTo="messagingInfoLog" />
      <logger name="*MessageWatcher*" minlevel="Trace" writeTo="messagingInfoLog" />

      <logger name="*MessageProcessor*" minlevel="Info" writeTo="messageProcessorLog" />
      <logger name="*MessageWatcher*" minlevel="Info" writeTo="messageWatcherLog" />
    </rules>
  </nlog>
</configuration>